<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InOutTimeSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://myway.dthsoft.com.vn/api/ChamCong/InOutTime.asmx"
                binding="basicHttpBinding" bindingConfiguration="InOutTimeSoap"
                contract="ChamCongeReference.InOutTimeSoap" name="InOutTimeSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="IP" value="192.168.1.197"/>
    <add key="Port" value="4370"/>
    <add key="Auto" value="true"/>
    <add key="isTime" value="false"/>
    <add key="Time" value=""/>
    <add key="Interval" value="5"/>
    <add key="NumberOfDays" value="10"/>
    <add key="FromDate" value=""/>
    <add key="ToDate" value=""/>
  </appSettings>
</configuration>